<h1>Currency Converter</h1>
  <form>
    <p class="label-control">From Currency:</p>
    <div class="container">
      <div class="form-group">
        <select [(ngModel)]="fromCurrency" name="fromCurrency" (ngModelChange)="onSelectCurrency($event)">
          <option *ngFor="let currency of currencyArray" [value]="currency.code">{{ currency.code }}</option>
        </select>
        <input type="number" name="fromAmount" id="fromAmount" placeholder="0" class="form-control"
          [(ngModel)]="fromAmount">
      </div>
      <div class="change">
        <button type="button" class="btn btn-primary submit-button"
          (click)="this.convertCurrency(fromCurrency, toCurrency, fromAmount, toAmount)">Change</button>
      </div>
      <p class="label-control">To Currency:</p>
      <div class="form-group">
        <select [(ngModel)]="toCurrency" name="toCurrency" (ngModelChange)="onSelectCurrency($event)">
          <option *ngFor="let currency of currencyArray" [value]="currency.code">{{ currency.code }}</option>
        </select>
        <input type="number" name="toAmount" id="toAmount" placeholder="0" class="form-control" [(ngModel)]="toAmount">
      </div>
    </div>
  </form>

  <div>
    <h1>Historical Currency</h1>
  <app-chart></app-chart>
  </div>
